<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SUBD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Index">Сотрудники</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Positions" asp-action="Index">Должности</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="RawMaterials" asp-action="Index">Сырье</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="UnitOfMeasures" asp-action="Index">Единица измерения</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Ingredients" asp-action="Index">Ингредиенты</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="FinishedProducts" asp-action="Index">Готовая продукция</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Budgets" asp-action="Index">Бюджет</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductSales" asp-action="Index">Продажа</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="PurchaseOfCheese" asp-action="Index">Покупка сырья</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Manufactures" asp-action="Index">Производство</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Payrolls" asp-action="Index">Зарплаты</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Credits" asp-action="Index">Кредит</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="LoanRepayments" asp-action="Index">Оплата кредита</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
