
@{
    ViewData["Title"] = "Index";
}

<a href="<%: Url.Action(" Action", "Controller" )%>"><img src="https://st.depositphotos.com/1143026/4101/v/450/depositphotos_41018203-stock-illustration-girl-icon.jpg" /><h8>Сладкая жизнь</h8></a>
