@model SUBDCORE.Models.PurchaseOfCheese

@{
    ViewData["Title"] = "Create";
}

<h3>Покупка Сырья</h3>
<h4>@ViewBag.message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Наименование сырье</label>
                <select asp-for="RawMaterials" class="form-control" asp-items="ViewBag.RawMaterials"></select>
            </div>
            <div class="form-group">
                <label>Колличество</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Цена</label>
                <input asp-for="Summ" class="form-control" />
                <span asp-validation-for="Summ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Дата покупки</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Сотрудник</label>
                <select asp-for="Employees" class="form-control" asp-items="ViewBag.Employees"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Купить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        // переопределение валидации на стороне клиента
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
    </script>
}