@model SUBDCORE.Models.PurchaseOfCheese

@{
    ViewData["Title"] = "Edit";
}

<h3>Редактирование Записи О покупке Сырья</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPurchaseOfcheese" />
            <div class="form-group">
                <label>Наименование Сырье</label>
                <select asp-for="RawMaterials" class="form-control" asp-items="ViewBag.RawMaterials"></select>
                <span asp-validation-for="RawMaterials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Колличество</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Сумма</label>
                <input asp-for="Summ" class="form-control" />
                <span asp-validation-for="Summ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Дата покупки</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Сотрудник</label>
                <select asp-for="Employees" class="form-control" asp-items="ViewBag.Employees"></select>
                <span asp-validation-for="Employees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

