@model SUBDCORE.Models.Payroll

@{
    ViewData["Title"] = "Edit";
}

<h4>Изменить запись</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSalary" />
            <div class="form-group">
                <label>Сотрудник</label>
                <select asp-for="IdEmployee" class="form-control" asp-items="ViewBag.IdEmployee"></select>
                <span asp-validation-for="IdEmployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Год</label>
                <select asp-for="Years" class="form-control" asp-items="ViewBag.Years"></select>
                <span asp-validation-for="Years" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Месяц</label>
                <select asp-for="Month" class="form-control" asp-items="ViewBag.Month"></select>
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Выданная зарплата</label>
                <input asp-for="SumSalary" class="form-control" />
                <span asp-validation-for="SumSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Дата выдачи</label>
                <input asp-for="DataPayroll" class="form-control" />
                <span asp-validation-for="DataPayroll" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
