@model SUBDCORE.Models.Position

@{
    ViewData["Title"] = "Delete";
}
<h4>Удаления должности</h4>

<h5>Вы действительно хотите удалить этот Должность ?</h5>
<div>
    <hr />
    <table class="table">
        <tr>
            <td>
                <label>Наименование Должности</label>
                <h4>
                    @Html.DisplayFor(model => model.Position1)
                </h4>
            </td>
        </tr>
    </table>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPosition" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </form>
    <div>
        <a asp-action="Index">Вернуться назад</a>
    </div>
</div>
